# Private Keys
*.pem

# Sensitive Variables
terraform.tfvars
*.auto.tfvars

# Config with server details
config.json

# Terraform State Files
*.tfstate
*.tfstate.*

# Terraform Directory and Lock Files
.terraform/
.terraform.lock.hcl

# Python Cache
__pycache__/
*.pyc

# Temporary Files
tmp*.jar

# Backup Directory
backup/

# Editor Files
*.swp
*.swo
*~
