tenancy_ocid     = "ocid1.tenancy.oc1..your_tenancy_ocid_here"
user_ocid        = "ocid1.user.oc1..your_user_ocid_here"
compartment_ocid = "ocid1.tenancy.oc1..your_compartment_ocid_here"
fingerprint      = "xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx"
private_key_path = "your_key_name.pem"
region_key          = "your_oracle_region"
